*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
background:#1f1f1f;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

button{
padding:8px 15px;
border:none;
cursor:pointer;
background:#00bcd4;
color:white;
border-radius:5px;
}

button:hover{
opacity:0.8;
}

.produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#1f1f1f;
padding:15px;
border-radius:8px;
text-align:center;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
border-radius:5px;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.modal-content{
background:white;
color:black;
width:400px;
margin:100px auto;
padding:20px;
border-radius:8px;
}

table{
width:100%;
border-collapse:collapse;
margin:10px 0;
}

th,td{
border-bottom:1px solid #ccc;
padding:8px;
text-align:center;
}

.modal-buttons{
display:flex;
justify-content:space-between;
}